<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN Edit Product</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: 17px;
        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            right: 0;
        }

        .navbar li {
            float: left;
        }

        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 24px 26px;
            text-decoration: none;
            margin-left: 30px;
        }

        .navbar li a:hover {
            background-color: #111;
        }

        input[type="text"] {
            width: 50%;
            padding: auto;
            padding: 5px;
            margin-bottom: 15px;
        }

        input[type="submit"] {
            width: 50.5%;
            padding: 5px;
            font-size: 17px;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/">ATN SHOP</a></li>
            <li><a href="/index">Index</a></li>
            <li><a href="/add">Add Product</a></li>
        </ul>
    </div>
    <br><br><br><br>
    
    <center>
        <h1>
            Update Product
        </h1>
    </center>

    <center>
        <form action="/update" method="post">
            Name: <span style="color: red;">{{nameError}}</span><br>
            <input type="hidden" name="txtId" value="{{product._id}}">
            <input type="text" name="txtName" id="" value="{{product.name}}"><br>
            Price: <span style="color: red;">{{priceError}}</span><br>
            <input type="text" name="txtPrice" id="" value="{{product.price}}"><br>
            <img src="{{product.pic}}" alt="" height="400px" width="auto" style="overflow: hidden;">
            <br><br>
            Picture URL:<span style="color: red;">{{picError}}</span><br>
            <input type="text" name="txtURL" id="" value="{{product.pic}}"><br>
            <input type="submit" value="Update Product">
        </form>
    </center>
</body>

</html>